<form #formulaire="ngForm">

    <label for="name">Name</label>
    <input required id="name" type="text" ngModel name="name" class="form-control">

    <label for="first">First</label>
    <input required id="first" type="text" ngModel name="first" class="form-control">

    <label for="job">job</label>
    <input required id="job" type="text" ngModel name="job" class="form-control">

    <label for="cin">cin</label>
    <input required id="cin" min="8" max="8" type="text" ngModel name="cin" class="form-control">


    <label for="age">age</label>
    <input min="18" max="70" required id="age" type="number" ngModel name="age" class="form-control">

    <label for="path">path</label>
    <input required id="path" type="text" ngModel name="path" class="form-control">

    <button [disabled]="formulaire.invalid" class="btn btn-success" (click)="addCv(formulaire)">Valider</button>

</form>
